body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: #4CAF50;
  text-align: center;
}

div {
  margin: 10px 0;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  border: 2px solid #4CAF50;
}

button:hover {
  background-color: white;
  color: #4CAF50;
  border: 2px solid #4CAF50;
}

input[type="text"], input[type="number"] {
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #eee;
}

span {
  color: crimson;
}