* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Ibarra Real Nova", serif;
}

/* --header--- */

header {
    background-color: black;
}

.headtext {
    padding: 20px;
}

.intro {
    display: flex;
    padding: 15px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;
}

.logo {
    width: 100px;
}

.logo img {
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav ul li a::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgb(117, 101, 101);
    transition: width 0.5s ease;
}

nav ul li a:hover::after {
    width: 80%;
}

.banner img {
    width: 100%;
    height: auto;
}

/* rslides plugin  */

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin-top: 80px;
    text-align: center;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}
  
.rslides li {
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
    font-size: 22px;
}
  
.rslides li:nth-child(1){
    position: relative;
    display: block;
    float: left;
}

/* ---footer--- */

footer {
    background-color: black;
    width: 100%;
    color: white;
    height: 120px;
    display: flex;    
    flex-direction: column; 
    justify-content: center !important;
    align-items: center !important;
    gap: 10px;
    margin-top: 60px;
}

.hover-link{
    color: inherit;
    text-decoration: none;
}

.hover-link:hover {
    opacity: 50%;
}

footer .links {
    display: flex !important;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    list-style: none; 
    gap: 30px;
}

footer .links ul{
    display: flex;
    justify-content: space-between;
}

footer .links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

footer .socials {
    justify-content: center;
    display: flex;
}

footer img {
    width: 30px;
    height: auto;
    margin-left: 10px;
}

footer img:hover {
    opacity: 50%;
}

.links li a:hover{
    opacity: 50%;
}

.foottext:hover{
    opacity: 50%;
}

.carousel {
    box-sizing: border-box;
    margin-top: 30px;
}

.carousel-cell {
    width: 66%;
    height: 500px;
    margin-right: 10px;
    border-radius: 15px;
    background-size: cover;
    background-position: center center;
}

.carousel-cell::before {
    display: block;
    content: "";
}

/* ---media queries--- */

@media screen and (max-width: 768px) {
    .prodcard {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 1440px) {

    .prodcard {
        grid-template-columns: 1fr 1fr 1fr; 
    }
}