* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Ibarra Real Nova", serif;
}

/* --header--- */

header {
    background-color: black;
}

.headtext {
    padding: 20px;
}

.intro {
    display: flex;
    padding: 15px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;
}

.logo {
    width: 100px;
}

.logo img {
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav ul li a::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgb(117, 101, 101);
    transition: width 0.5s ease;
}

nav ul li a:hover::after {
    width: 80%;
}

.banner img {
    width: 100%;
    height: auto;
}

/* ---gallery--- */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.gallery img {
    width: calc(33.33% - 10px);
    height: auto;
    margin-bottom: 10px;
}

/* ---footer--- */

footer {
    margin-top: auto;
    background-color: black;
    padding: 20px;
    color: white;
    height: 50px;
}

footer .socials {
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

footer img {
    width: 30px;
    height: auto;
    margin-left: 10px;
}

footer img:hover {
    opacity: 50%;
}

/* ---media queries--- */

@media screen and (min-width: 375px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}

@media screen and (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media screen and (min-width: 1440px) {
    header {
        padding: 20px;

    .logo img {
        width: 120px;
    }

    nav ul li {
        margin-left: 20px;
    }
}
}